# python
__pycache__/
utils/__pycache__/
classic_algorithms/__pycache__/
problems_from_examinations/__pycache__/
problems_from_nowcoder/__pycache__/
problems_from_hackerearth/__pycache__/
problems_from_daily/__pycache__/